# Archivos de build y dependencias (ya cubiertos por el .gitignore principal, pero es bueno ser explícito)
node_modules
.next
out

# Variables de entorno locales del frontend
.env.local

# Compilación y caché
**/__pycache__/
*.tsbuildinfo